packages
.vs
src/DotNet.Core.Demo/DotNet.Core.Demo.IServices/bin
src/DotNet.Core.Demo/DotNet.Core.Demo.IServices/obj
src/DotNet.Core.Demo/DotNet.Core.Demo.Models/bin
src/DotNet.Core.Demo/DotNet.Core.Demo.Models/obj
src/DotNet.Core.Demo/DotNet.Core.Demo.Services/bin
src/DotNet.Core.Demo/DotNet.Core.Demo.Services/obj
src/DotNet.Core.Demo/DotNet.Core.Demo.Utilities/bin
src/DotNet.Core.Demo/DotNet.Core.Demo.Utilities/obj
src/DotNet.Core.Demo/DotNet.Core.Demo.WebAPI/bin
src/DotNet.Core.Demo/DotNet.Core.Demo.WebAPI/obj
src/DotNet.Demo/DotNet.Demo.IServices/bin
src/DotNet.Demo/DotNet.Demo.IServices/obj
src/DotNet.Demo/DotNet.Demo.Models/bin
src/DotNet.Demo/DotNet.Demo.Models/obj
src/DotNet.Demo/DotNet.Demo.Services/bin
src/DotNet.Demo/DotNet.Demo.Services/obj
src/DotNet.Demo/DotNet.Demo.Utilities/bin
src/DotNet.Demo/DotNet.Demo.Utilities/obj
src/DotNet.Demo/DotNet.Demo.WebAPI/bin
src/DotNet.Demo/DotNet.Demo.WebAPI/obj
src/DotNet.Core.Demo/DotNet.Core.Demo.WebAPI/log
src/DotNet.Core.Demo/DotNet.Demo.WebAPI/log