<?xml version="1.0" encoding="utf-8"?>
<paramConfig>
  <class key="DotNet.Demo.Services.DepartmentService">
    <method key="GetList">
      <param key="keyword" name="Name" type="System.String, mscorlib" symbol="Like" />
      <sort name="Id" symbol="Desc"/>
    </method>
  </class>
  <class key="DotNet.Demo.Services.EmployeService">
    <method key="GetList">
      <param key="keyword" name="Name" type="System.String, mscorlib" symbol="Like" />
      <sort name="Id" symbol="Desc"/>
      <sort name="Department.Id" symbol="Desc"/>
      <sort name="Department.Director.Id" symbol="Desc"/>
    </method>
  </class>
</paramConfig>
